* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-image: linear-gradient(
    45deg,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
main {
  display: flex;
  width: 70%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px black;
}
.img {
  width: 50%;
  position: relative;
  right: 65px;
  margin: auto 0px;
}
.img img {
  width: 100%;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right;
  padding: 15px 0px;
  background-size: 35pc;
}
.FAQ {
  width: 50%;
  margin: auto 0px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 22px;
  margin-bottom: 28px;
  color: hsl(238, 29%, 16%);
  font-family: "Balsamiq Sans", cursive;
  font-weight: 600;
}
.more {
  font-family: "Balsamiq Sans", cursive;
  color: hsl(240, 6%, 50%);
  font-size: 10px;
}
.p {
  font-size: 12px;
  color: hsl(237, 12%, 33%);
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 400;
}
.p:hover {
  color: hsl(14, 88%, 65%);
}
/* .more {
  display: none;
} */
.arrow {
  float: right;
  cursor: pointer;
}
#box-img img {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 0%;
  width: 20%;
  top: 61%;
}
.mobile {
  display: none;
}
hr {
  border-top: 1px;
}
@media screen and (max-width: 750px) {
  main {
    display: block;
    width: 300px;
    top: 55%;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-position: top;
    background-size: 13pc;
    background-repeat: no-repeat;
  }
  #box-img {
    display: none;
  }
  .img img {
    display: none;
  }
  .FAQ {
    width: 85%;
    margin: 0px auto;
    padding-right: 20px;
    padding-top: 110px;
    padding-bottom: 43px;
  }
  .mobile {
    display: block;
    width: 70%;
    margin: auto;
    position: absolute;
    left: 43px;
    top: -96px;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  .more {
    padding-bottom: 12px;
  }
}
